.miestilo {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Sans-Serif;
  text-align: center;
}
.miestilo2 {
  background-color: red;
  color: white;
  padding: 10px;
  font-family: Sans-Serif;
  text-align: center;
}
label {
  font-size: 20px;
  color: blue;
}
